{% extends 'blog/base.html' %}
{% block content %}
    {% if list_header %}
        <h4 class="post-title">{{ list_header }}</h4>
        <br>
    {% endif %}
    {% for post in posts %}
{#        <div class="post">#}
            <div class="date">
                {% if post.published_date %}
                    {{ post.published_date |date:'M d, Y'}}
                {% endif %}
            </div>
            <h5><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h5>
            <p>
                {% if post.category %}
                    <a class="post-category post-category-js" href="{% url 'search_tag' tag=post.category %}"><span class="glyphicon glyphicon-tag"></span>{{ post.category|title }}</a>
                {% endif %}
            </p>
            <p>{{ post.text|safe|linebreaks|truncatewords:3 }}</p>
{#        </div>#}
		<div style="float: right"><a class="pure-button" href="{% url 'post_detail' pk=post.pk %}">阅读更多 >>> </a></div>
		<br>
        <DIV style="BORDER-TOP: #d2d2d2 1px dashed; OVERFLOW: hidden; HEIGHT: 1px"></DIV>
        <br>
    {% endfor %}

    {% if page %}
        <div class="pagination">
            <span class="step-links">
                {{ posts.paginator.count }}篇  共{{ posts.paginator.num_pages }}页
                {% if posts.has_previous %}
                    <a href="?page=1">首页</a>
                    <a href="?page={{ posts.previous_page_number }}">上一页</a>
                {% endif %}
                {% for page_number in posts.paginator.page_range %}
                    {% ifequal page_number  posts.number %}
                        {{ page_number }}
                    {% else %}
                        <a href="?page={{ page_number }}">{{ page_number }}</a>
                    {% endifequal %}
                {% endfor %}
                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">下一页</a>
                    <a href="?page={{ posts.paginator.num_pages }}">尾页</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

{% endblock content %}
