{% extends "blog/base.html" %}

{% block content %}
<div class="posts">
    {% if error %}
        <h2 class="post-title">没有相关文章题目</h2>
    {% else %}
        {% for post in post_list %}
            <div class="date">
                {% if post.published_date %}
                    {{ post.published_date |date:'M d, Y'}}
                {% endif %}
            </div>
            <h5><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h5>
            <p>
                {% if post.category %}
                    <a class="post-category post-category-js" href="{% url 'search_tag' tag=post.category %}"><span class="glyphicon glyphicon-tag"></span>{{ post.category|title }}</a>
                {% endif %}
            </p>
            <p>{{ post.text|safe|linebreaks|truncatewords:3 }}</p>
            <div style="float: right"><a class="pure-button" href="{% url 'post_detail' pk=post.pk %}">阅读更多 >>> </a></div>
        {% endfor %}
    {% endif %}
</div><!-- /.blog-post -->
{% endblock %}
